body {
    font-family: "Press Start 2P", cursive;
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -1;
}